doctype html 
html 
    head 
        include include/head.pug
        title #{config.branding.name} 
    body 
        div(class="container")
            div(class="box center")
                h1(class="box-header text-center")
                    | #{config.branding.name}
                div(class="box-content")
                    p Welcome to #{config.branding.name}!
                    p The website at the end of the universe. 
            div(class="box center")
                div(class="box-content")
                    a(href="/login") Login
                    a(href="/register" class="ml-1") Register
            div(class="box center")
                h1(class="box-header text-center")
                    | Forums
                div(class="box-content")
                    each forum in forums
                        a(href="/forums/#{forum.id}") #{forum.name}