doctype html 
html 
    head 
        include include/head.pug
        title #{config.branding.name} 
    body 
        div(class="container")
            div(class="box center")
                h1(class="box-header text-center")
                    | #{config.branding.name}
                div(class="box-content")
                    p Welcome to #{config.branding.name}!
                    p The website at the end of the universe. 
            div(class="box center")
                div(class="box-content")
                    if loggedIn == false
                        a(href="/login") Login
                        a(href="/register" class="ml-1") Register
                    else
                        a(href="/logout") Logout
                        a(href="/account" class="ml-1") Account
                        if group > 1
                            a(href="/admin" class="ml-1") Admin Panel
            div(class="box center")
                h1(class="box-header text-center")
                    | Forums
                div(class="box-content stacked-list text-center")
                    each forum in forums
                        a(href="/forums/"+forum.id) #{forum.name} - [#{forum.text_identifier}]